<html>
	<head>
		<title>Main Chat Page</title>
		<style type="text/css">
			#wrapper{
				width: 800px;
				border:1px black solid;
				padding: 5px;
			}
			#btchange , #btsend {
				width: 100px;
				padding: 10px;
			}
			#username ,#message{
				width: 600px;
				margin: 5px;
				padding: 5px;
				height: 45px;
			}
			#chat-area{
				border:1px black solid;
				width: 800px;
				height: 400px;
			}
		</style>
		<script src="{{ static_url('js/jquery.js') }}"></script>
		<script type="text/javascript"></script>
	</head>
	<body>
	<div id="wrapper">
		<div id="chat-area">
			

		</div>
		<label>Message</label><input type="text" name="message" id="message"> <button id="btsend">send</button>
	</div>

	</body>
	<script type="text/javascript">
		var send_data
		$(document).ready(function(){	
			var ws = new WebSocket("ws://localhost:1234/ws")
			ws.onopen = function (e) {
			   var msg = {
					"type" : "set",
					"gid"  : 1,
				}
				ws.send(JSON.stringify(msg))
				console.log("connection opened")
			}	
			$("#btsend").click(function(){
				msg = {
					"type" : "send",
					"gid"  : 1,
					"name" : "Essam",
					"msg"  : $("#message").val()
				}
				ws.send(JSON.stringify(msg))	
			})

			ws.onmessage = function(res){
				console.log(res)
				$("#chat-area").append("<p>"+res.data+"</p");
			}
		});
	</script>
</html>