{% extends ../templates/base.html %}
{% block title %} Main Page {% end %}
{% block script %} 
<script src="{{ static_url('js/app.js') }}"></script> 
<link rel="stylesheet" type="text/css" href="{{ static_url('css/index.css') }}">
 

{% end %}
{% block body %}
<div style="border:1px black solid;height: 50px;padding: 5px;">
 <ul class="topnav" id="myTopnav">
  <li>Leader Board</li>
  <li id="menugroup">Groups</li>
  <li id="menupeople">People</li>
</ul>
<ul class="right">
  <li style="margin-left: 30px" ><img src='static{{ imgeurl }}' width="50" /></li>
  <li ><p>{{ username }}</p></li>
</ul>
</div>
<div id="application">

</div>
<script> 
var userid = {{ userid }}
$("#menugroup").click(function(){
        $('#allgroups').remove();
        $('#mygroups').remove();
        $.ajax({
            url:"http://localhost:6888/mygroups",
            method:"GET",
            data:{"userid":userid},
            success:function(res){     
                gid_arr = res.groupid
                gname_arr = res.groupnames
                gstat = res.groupstat
                groupimage = res.groupimage

            //my groups
            $('#application').append('<div id="mygroups">');
            $('#mygroups').append("<h3> My Groups </h3> ");

            for(var i = 0 ; i < gname_arr.length ; i++)
            {

                var group_record = "<div class='per' style='width:300px;height:300px'>";
                group_record +=  '<img  class="public" value="'+gid_arr[i]+'" src= "/static'+groupimage[i]+'">';
                group_record += '<p>' + gname_arr[i]  + '</p>';

                if ( gstat[i] == 1) 
                {
                    group_record += '<button id="leave" class="leave">Leave</button>';
                }
                else
                {
                    group_record += '<button class="requested">Requested</button>';
                }

                group_record +='</div>'
                $('#mygroups').append(group_record);
            }

           
            $('#application').append('</div>');

            },
            error:function(error,k){
                console.log(error)
                console.log(k)
            }

        });


        $.ajax({
            url:"http://localhost:5888/allgroups",
            method:"GET",
            data:{ "userid":userid},
            success:function(res){     
                gid_arr_1 = res.groupid
                gname_arr_1 = res.groupnames
                gstat_1 = res.groupstat
                groupimage_1 = res.groupimage

            //all groups
            $('#application').append('<div id="allgroups">');
            $('#allgroups').append("<h3> All Groups </h3> ");

            for(var j = 0 ; j < gname_arr_1.length ; j++)
            {
                var group_record_1 = "<div class='per' style='width:300px;height:300px'>";
                group_record_1 +=  '<img id="imgid" class="public" value="'+gid_arr_1[j]+'" src= "/static'+groupimage_1[j] + '">';
                group_record_1 += '<p>' + gname_arr_1[j]  + '</p>';
                group_record_1 += '<button  class="join">Join</button>';
                group_record_1 +='</div>'
                $('#allgroups').append(group_record_1);
            }

            $('#application').append('</div>');

            },
            error:function(error,k){
                console.log(error)
                console.log(k)
            }

        });
	
	//join action
        console.log("join action")
        $("#application").on("click",".join",function()
            {
            gid = $(this).prev().prev().attr('value');
            $.ajax({
                    url:"http://localhost:7888/join",
                    method:"GET",
                    data:{ "userid":userid,"groupid":gid },
                    success:function(res)
                    {     
                        /*gid_arr = res.groupid
                        gname_arr = res.groupnames
                        gstat = res.groupstat
                        groupimage = res.groupimage*/

                    }
            });

        })
    });
</script>
{% end%}
