{% extends ../templates/base.html %}
{% block title %} Main Page {% end %}
{% block script %} 
<script src="{{ static_url('js/app.js') }}"></script> 
<link rel="stylesheet" type="text/css" href="{{ static_url('css/index.css') }}">
 

{% end %}
{% block body %}
<div style="border:1px black solid;height: 50px;padding: 5px;">
 <ul class="topnav" id="myTopnav">
  <li>Leader Board</li>
  <li id="menugroup">Groups</li>
  <li id="menupeople">People</li>
</ul>
<ul class="right">
  <li style="margin-left: 30px" ><img src='static{{ imgeurl }}' width="50" /></li>
  <li ><p>{{ username }}</p></li>
</ul>
</div>
<div id="application">

</div>
<script> 
var userid = {{ userid }}
</script>
{% end%}
